
html, html * {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    background-color: #E1D1D1;
    background-image: linear-gradient(-90deg, #E1D1D1, #9090FA, #E1D1D1); /* Standard syntax (must be last) */
}

h1 {
    display: block;
    text-align: center;
    font-family: Dosis;
    color: #000000;
    font-size: 7.63em;
    font-weight: 400;
}

h2 {
    display: block;
    text-align: center;
    font-family: Dosis;
    color: #000000;
    font-size: 4em;
    font-weight: 400;
}

h3 {
    display: block;
    text-align: center;
    font-family: Dosis;
    color: #000000;
    font-size: 1.5em;
    font-weight: 400;
}

ul {
    margin: auto;
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-family: Dosis;
    color: #000000;
    font-size: 2em;
    font-weight: 400;
}
li {
    display: inline;
}
li a {
    padding: 10px 45px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
  	opacity: 0.6;
  	transition: 0.3s;
}
	li a:hover{
		opacity: 1;
	}

  .github {
      text-decoration: none;
      color: #FFF;
    	opacity: 0.6;
    	transition: 0.3s;
  }

  .github:hover{
    opacity: 1;
  }

footer {
    padding: 0;
    margin: auto;
    background-color: #fff;
}

.sticky {
    margin-bottom: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.assignments {
    margin: auto;
    font-family: Dosis;
    padding: 50px 100px 50px 100px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
}

.projects {
    margin: auto;
    font-family: Dosis;
    padding: 50px 100px 50px 100px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
}

.reflections {
    margin: auto;
    font-family: Dosis;
    padding: 50px 100px 50px 100px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
}

.presentation {
    margin: auto;
    font-family: Dosis;
    padding: 50px 100px 50px 100px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
}

.row > .column {
    padding: 0 0px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create equal columns that float next to each other */
.column {
    display: inline-block;
    float: center;
    width: 33%;
}


img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
