html{
  /*font-family: "Dosis", sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  margin:0px 100px;
  padding:0;
}

body{
margin: 100px 0px;

}

h1{
  font-weight: bold;
  font-size: 2.5em;
  padding: 0;
}

.title{
  font-style: italic;
  font-size: 1.8em;
}

.sectionTitle{
  font-style: italic;
  font-size: 1.8em;
  margin: 50px 0px 30px ;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 30px;
  text-decoration: none;
}

a {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 30px;
  text-decoration: none;
}

.textLink{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}



p{
  font-size: 20px;
  margin-bottom: 30px;
}

img {
    margin:auto;
    display: block;
    border-radius: 8px;
}
